# Don't track content of these folders #
########################################
cache/
saves/


# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.bak

*.rpyc
*.rpymc

#Music cannot be uploaded to github per license
*.wav

# The log file and other misc things #
######################################
log.txt
errors.txt
traceback.txt
files.txt# Don't track content of these folders #
########################################
cache/
saves/


# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

*.rpyc
*.rpymc


# The log file and other misc things #
######################################
log.txt
errors.txt
traceback.txt
files.txt
